body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

header{
    background-color: #003366;
    color: white;
    padding: 20px;
    text-align: center;
}

nav{
    background-color: #f4f4f4;
    padding: 10px;
    text-align: center;
}

nav a{
    margin: 0 15px;
    text-decoration: none;
    color: #003366;
    font-weight: bold;
}

section{
    padding: 20px;

}

footer{
    background-color: #003366;
    color: white;
    text-align: center;
    padding: 10px;
}